body {
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(51, 141, 224);
  font-weight: lighter;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;

  color: white;
  font-size: 1.3em;
}

main {
  display: flex;
  flex-direction: column;
}

.box {
  text-align: center;
  padding: 5% 30%;
}

.box > h1 {
  margin-top: 5%;
  margin-bottom: 8%;
  font-size: 30px;
}

.box > p {
  font-size: 10px;
  margin: 0;
}

.rectangle1 {
  padding: 10%;
  background-color:rgb(51, 141, 224);
}

.rectangle2 {
  padding: 10%;
  background-color: tomato;
}

.rectangle3 {
  padding: 10%;
  background-color: rgb(9, 219, 202);
}

@media (min-width: 577px) {
  header {
      background-color: rgb(9, 219, 202);
      padding: 13%;
      font-weight: lighter;
      font-size: 25px;
  }
  
  main {
      flex-direction: row;
      justify-content: space-between;
      background-color: black;
      color: white;
  }
  
  .box {
      text-align: center;
      padding: 5% 10%;
  }
}